body {
    font-family:sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
   
	
}
h1{
    color: rgb(99, 95, 95);
    padding: 0;
    font-size: 3rem;
    text-align: left;
    text-align: center;
    text-transform: capitalize;
}
h1 span{
    color: #c9756a;
}
.row
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	color: gray;
	line-height: 30px;
	
}
.row .form-group {
    width: 211px;
    margin: 23px auto;
	position: relative;
}
.row .form-group select{
    color: gray;
    padding: 10px;
    width: 193px;
}
.row .form-group .btn {
		position: absolute;
		top: -68px;
		right: -119px;
		width: 47px;
		font-size: 29px;
		border: none;
        background-color: #fff;

	}
#search-form .form-control {
	border: 0;
	outline: none;
	width: 345px;
}
#search-form .form-control1{
    margin-left: -27%;
	width: 332px;
	height: 50;
	padding: 20px;
}
.teacher img{
	margin-bottom: 30px;
	margin: auto;
    width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #403953;
}
.product-inner{
   height:300px;
   border-radius: 20px;
   box-shadow: 0 0 10px rgba(0,0,0,.2);
   padding: 10px;
}
.teacher {
	width: 23%;
	margin: 20px 10px;
	box-shadow: 3px 3px 10px 3px #403953;
	border-radius: 20px;
	height: 320px;

}
#filter form{
	display: flex;
	justify-content: space-between;

}
.search-form{
text-align: center;
position: relative;
height: 20px;
}





