
*{
    font-family:sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    margin: 0;padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}
*::selection{
    background: ;
    color: #fff;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1.5rem;
}
html::-webkit-scrollbar-track{
    background: ;
}
html::-webkit-scrollbar-thumb{
    background:#;
}
body{

    

}
/*        Strat Header Styling    */
#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #403953;
    z-index: 1000;

    padding: 1.5rem 7%;
  
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.5);
}

#header #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
#header .logo{
    color: #fff;
    font-size: 3rem;
    font-family: cursive;
}
#header .logo img{
    width: 100%;
    height: 100%;
   

}
#header .navbar ul{
    display: flex;
    align-items: center;
    list-style: none;

}
#header .navbar ul li{
    margin: 0 1rem;
}
#header .navbar ul li a{
    font-size: 2rem;
    color: #fff;
    transition: all .1s linear;
}
#header .navbar ul li a:hover,
#header .navbar ul li .active{
    color: #c9756a;
}
#header #login{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
#header #login:hover{
    color: #c9756a;
}


/*        Strat log in Styling    */
#login-form{
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    display:none;
}
.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    z-index: 10000;
    margin: 6% auto;
    background-color: #403953;
    opacity: .8;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 5px #c9756a;
    border-radius: 30px;
    display: flex;

}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: #c9756a;
    border-radius: 30px;
    transition: .5s;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #fff;
   

}
.input-teacher-login{
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
    
}
.input-student-login{
    top: 120px;
    position: absolute;
    margin: 10px;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.submit-btn{
    width: 85%;
    margin:auto;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    background: #ca594a;
    opacity: 1;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.check-box{
    margin: 30px 10px 30px 0;
}
.check-box span{
    bottom: 680px;
    position: absolute;
}
#login-form input{
    color: #fff;
    font-size: 15px;
}
#login-teacher{
    left: 50px;
    color: #fff;
}
#login-teacher input{
    color: #fff;
    font-size: 15;
}
#login-student{
    color: #fff;
    font-size: 15;
    left: 450px;
}


/*        Strat Home Styling    */



.home{
    display: block;
    height: 100vh;
    flex-direction: column;
    background: url(../images/home4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    opacity: .93;

}
.home-content{
    color: #fff;
    width: 50%;
    padding-top: 170px;
    float:right;

}
.home-content span{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}
.home-content h1{
    margin-bottom: 10px;
    font-size: 60px;
    letter-spacing: 3px;
    color: #c9756a;

}
.home-content p{
    margin-bottom: 40px;
    font-size: 18px;
    letter-spacing: 1px;
    font-style: italic;
}
.home-content a{
    text-decoration: none;
    margin-right: 20px;
}
.home-content .btn-one{
    padding: 15px 20px;
    background-color: #c9756a;
    border: 2px solid #c9756a;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    color: #fff;
}
.home-content .btn-two{
    padding: 15px 20px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    color: rgb(131, 129, 129);
}


/*      Start Our Courses Styling     */
.course .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.heading{
    color: #444;
    padding: 1rem;
    font-size: 4rem;
    text-align: center;
}
.course .box-container .box{
    width: 35rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    margin: 1.5rem;
    position: relative;
}
/*html1*/
.course .box-container .box1{
    width: 35rem;
    border: .1rem solid rgba(0, 0, 0, .3);
    margin: 1.5rem;
    position: relative;
    box-shadow: 10px 10px 7px 1px #9c90b4;
    border-radius: 6px;
}
.course .box-container .box1 img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.course .box-container .box1 .content{
    padding: 20px;
    align-items: center;
}
.course .box-container .box1 a{
    font-size: 19px;
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    color: #444;
}
.course .box-container .box img{
    height: 20rem;
    width: 100%;
    object-fit: cover;

}
/*test*/
.course .box-container .box p{
    font-size: 1.9rem;
    text-align: center;
    color: #fff;
    z-index: 99999;
    position: absolute;
    display: none;
    top: 50px;
    padding: .4rem;
}
.course .box-container .box:hover p{
    display: block;
    margin: 10px;
 
}
.course .box-container .box:hover img{

  
    opacity: .4;


}
.course .box-container .box:hover{
    background: #333;
}
.course .box-container .box:hover .price{
    opacity: .4;
}

/**/
.course .box-container .box .content{
    padding: 1rem;

}
.course .box-container .box .content .stars i{
    color: #403953;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}
.course .box-container .box .content .title{
    color: #444;
    font-size: 1.7rem;

}
.course .box-container .box .content .title:hover{
    text-decoration: underline;
}
.course .box-container .box .content .info{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: .5rem;
    
}
.course .box-container .box .content .info h3{
    font-size: 1.5rem;
    padding: 1rem;
    color: #666;
}
.course .box-container .box .content .info h3 i{
    color: #ca594a;
    padding: 3px;
}
.course .box-container .box .price{
    position: absolute;
    top: 16rem;
    right: 1rem;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    text-align: center;
    border-radius: 50%;
    background: #c9756a;
    color: #fff;
    font-size: 3rem;
}
/*   About Section    */
#about {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    background-color: #f7f0f0;;
  
}
#about .container1{
    flex: 1;
    width: 450px;
    margin-top: 70px;

}
#about .container1 p{
    font-size: 16px;
    width:100%;
    padding-left:40px;
    color: #444;
}
#about .container1 h2{
    padding-left:40px;
    margin-bottom: 20px;
}
#about .about-content{
    width: 700px;
    height: 300px;
    margin-bottom: 30px;

}
#about .about-content video{
    width: 100%;
    height: 100%;
    padding: 0;

 
   
}
.bg-light{

    color: #252a34;
}
.m-heading {
    font-size: 2.5rem;
}

.text-primary{
    color: #ca594a;
    }
.bg-dark{
    background-color: #403953;
    color: #fff;
    text-align: center;
    
}
/*   start teachers section stling   */
#teachers{
   
}
#teachers .teacher{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    text-align: center;
}
#teachers .card-teacher{
    width: 31%;
    margin: auto;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 8px 3px #a39abe;
    background-color: #f7f0f0;
    border-radius: 30px;
    align-items: center;

}
#teachers .card-teacher .img{
    width: 205px;
    height: 190px;
    margin: auto;
}
#teachers .card-teacher img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid #6b5b8a;
    transform: scale(.9 , .9);
    transition: all 1s ease;
}
#teachers .card-teacher img:hover{
    transform: scale(1,1);
}
#teachers .card-teacher  h2{
    color: #333;
    font-size: 22px;
}
#teachers .card-teacher .title-teacher{
    color: #999999;
    font-size: 14px;
}
#teachers .card-teacher p{
    color: #333;
    font-size: 15px; 
    line-height: 2rem;   
}
#teachers .card-teache .social-link{
    text-align: center;
    text-decoration: none;
}
#teachers .card-teacher .social-link a span{
    display: inline-block;
    height: 32px;
    width: 35px;
    padding: 10px;
    background-color: #f0f0f0;
    color: #403953;
    font-size: 2.5rem;
}
/*   START TESTIMONIAL   */
#testimonial{
    display: grid;
    place-items: center;
    width: 100vw;
    background-color: #f7f0f0;
    margin-top: 20px;
   
   
}
#testimonial .box-container2{
    width: 90%;
    margin:0 auto;
}
.box-container2 .box{
    max-width: 60rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
    margin-left: 5rem;
    padding-left: 6rem;
    position: relative;
    clear: both;
    border: 3px solid #c9756a;
    border-radius: 40px;
}
.box-container2 .box img{
    position: absolute;
    top: 50%;
    left: -9%;
    transform: translateY(-50%);
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
    border: .5rem solid #ca594a;
    box-shadow: 0 0 5rem #5383d3 inset;
    object-fit: cover;
}
.box-container2 .box .box-info h2{
    margin-top: -2.5rem;
    margin: 2rem;
    color: #ca594a;
    text-align: right;

}
.box-container2 .box .box-info p{
    font-size: 1.6rem;
    padding: 1rem 0 0 0;
    color: #333;
    margin-left: 10px 5px;
}
.box-container2 .box .box-info p i{
    padding: 1rem;
    color: #ca594a;
}
.box:nth-child(even){
    float: right;
}

/*footer*/


footer{
    
    bottom: 0;
   }
   .footer-distributed{
    background-color: #403953;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    
    padding: 55px 50px;
 
   }
    
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
   }
    
   .footer-distributed .footer-left{
    width: 40%;
   }
    
   .footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
   }
    
   .footer-distributed h3 span{
    color:  #5383d3;
   }
    
    
   .footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
   }
    
   .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
   }
    
   .footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
   }
    
    
   .footer-distributed .footer-center{
    width: 35%;
   }
    
   .footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
   }
    
   .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
   }
    
   .footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
   }
    
   .footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
   }
    
   .footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
   }
    
   .footer-distributed .footer-right{
    width: 20%;
   }
    
   .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
   }
    
   .footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
   }
    
   .footer-distributed .footer-icons{
    margin-top: 25px;
   }
    
   .footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    
    margin-right: 3px;
    margin-bottom: 5px;
   }













@media (max-width:768px){
    html{
        font-size: 55%;
    }
    #header #menu {
            display: block;
    }
    #header .navbar{
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background: #444;
    }
    #header .navbar ul{
        flex-flow: column;
        padding: 2rem 0;
    }
    #header .navbar ul li{
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }
    #header .navbar ul li a{
        font-size: 2.5rem;
        display: block;
        color: #fff;
    }
    #header .navbar ul li a:hover{
        color: #f39c12;
    }
  
    #header .nav-toggle{
        top: 6.4rem;
    
    }

/* home  */
    .home h1{
        font-size: 4rem;
    }
.home h3{
   width: auto;
   padding: 30px;

}
/*  our teacher  */
.teacher-section .team-items .item{

    height: 100px;
    margin: 90px;
}

}
